<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="CustomerMapper">
	
	<!--表名 -->
	<sql id="tableName">
		base_customer
	</sql>
	
	<!-- 字段 -->
	<sql id="Field">
		CUSTOMERCODE,
		CUATOMERNAME,	
		SIMPLENAME,	
		PHONE,	
		ADDRESS,	
		COMPANY,
		YICODE,	
		TELEPHONE,	
		PAGING,
		FAX,	
		LINKMAN,
		FREETIME,
		DISTRIBUTIONMODE,
		CREDITDEGREE,	
		NOTE,	
		NOTE2,
		NOTE3,
		USER_ID,
		PK_SOBOOKS,	
		CUSTOMER_ID
	</sql>
	<!-- 字段 -->
	<sql id="FieldCha">
		CUSTOMERCODE,
		CUATOMERNAME,	
		SIMPLENAME,	
		PHONE,	
		ADDRESS,	
		COMPANY,
		YICODE,	
		TELEPHONE,	
		PAGING,
		FREETIME,
		SUBADDR_ID,
		FAX,	
		LINKMAN,
		DISTRIBUTIONMODE,
		CREDITDEGREE,	
		NOTE,	
		NOTE2,
		NOTE3,
		USER_ID,
		PK_SOBOOKS,
		CREATETIME,	
		CUSTOMER_ID,
		DEF1,
		DEF2
	</sql>
	
	<!-- 字段值 -->
	<sql id="FieldValue">
		#{CUSTOMERCODE},	
		#{CUATOMERNAME},	
		#{SIMPLENAME},	
		#{PHONE},	
		#{ADDRESS},	
		#{YICODE},	
		#{TELEPHONE},	
		#{PAGING},	
		#{FAX},	
		#{COMPANY},
		#{LINKMAN},	
		#{FREETIME},	
		#{DISTRIBUTIONMODE},	
		#{CREDITDEGREE},	
		#{NOTE},	
		#{NOTE1},	
		#{NOTE2},
		#{USER_ID},	
		#{PK_SOBOOKS},	
		#{CUSTOMER_ID}
	</sql>
	
	<!-- 新增-->
	<insert id="save" parameterType="pd">
		insert into 
	<include refid="tableName"></include>
		(
	<include refid="Field"></include>
		) values (
	<include refid="FieldValue"></include>
		)
	</insert>
	
	<!-- 导入excel新增-->
	<insert id="saveCustomer" parameterType="pd">
		insert into 
	<include refid="tableName"></include>
		(
		CUSTOMERCODE,CUATOMERNAME,LINKMAN,SIMPLENAME,TELEPHONE,PHONE,COMPANY,SUBADDR_ID,ADDRESS,FAX,PAGING,YICODE,DISTRIBUTIONMODE,
		CREDITDEGREE,USER_ID,PK_SOBOOKS,CUSTOMER_ID,DEF1,DEF2,NOTE
		) values (
		#{CUSTOMERCODE},#{CUATOMERNAME},#{LINKMAN},#{SIMPLENAME},#{TELEPHONE},#{PHONE},#{COMPANY},#{SUBADDR_ID},#{ADDRESS},#{FAX},	
		#{PAGING},#{YICODE},#{DISTRIBUTIONMODE},#{CREDITDEGREE},#{USER_ID}, #{PK_SOBOOKS}, #{CUSTOMER_ID},
	    #{DEF1},#{DEF2},#{NOTE}
		)
	</insert>
	
	<!-- 删除-->
	<update id="delete" parameterType="pd">
		update 
		<include refid="tableName"></include>
		set
			DR = 1 
		where 
			CUSTOMER_ID = #{CUSTOMER_ID}
			and PK_SOBOOKS = #{PK_SOBOOKS}
	</update>
	
	<!-- 修改 -->
	<update id="edit" parameterType="pd">
		update
		<include refid="tableName"></include>
		set 
			CUATOMERNAME = #{CUATOMERNAME},
			SIMPLENAME = #{SIMPLENAME},
			PHONE = #{PHONE},
			COMPANY=#{COMPANY},
			ADDRESS = #{ADDRESS},
			YICODE = #{YICODE},
			TELEPHONE = #{TELEPHONE},
			PAGING = #{PAGING},
			FREETIME = #{FREETIME},
			FAX = #{FAX},
			LINKMAN = #{LINKMAN},
			DISTRIBUTIONMODE = #{DISTRIBUTIONMODE},
			CREDITDEGREE = #{CREDITDEGREE},
			NOTE = #{NOTE},
			NOTE2 = #{NOTE2},
			NOTE3 = #{NOTE3},
			USER_ID = #{USER_ID},
		CUSTOMER_ID = CUSTOMER_ID
		where 
		CUSTOMER_ID = #{CUSTOMER_ID}
	</update>
	
	<!-- 通过ID获取数据 -->
	<select id="findById" parameterType="pd" resultType="pd">
		select 
		<include refid="FieldCha"></include>
		from 
		<include refid="tableName"></include>
		where 
			CUSTOMER_ID = #{CUSTOMER_ID}
			and PK_SOBOOKS = #{PK_SOBOOKS}
			and IFNULL(DR,0)=0
	</select>
	
		<!-- 通过客户编号获取数据 -->
	<select id="findByCode" parameterType="pd" resultType="pd">
			select 
		<include refid="FieldCha"></include>
		from 
		<include refid="tableName"></include>
		where 
			CUSTOMERCODE = #{CUSTOMERCODE}
			and PK_SOBOOKS = #{PK_SOBOOKS}
			and IFNULL(DR,0)=0
	</select>
	<!-- 列表 -->
	<select id="datalistPage" parameterType="page" resultType="pd">
		select
			a.CUSTOMERCODE,	
			a.CUATOMERNAME,	
			a.SIMPLENAME,	
			a.PHONE,	
			a.COMPANY,
			a.ADDRESS,	
			a.YICODE,	
			a.TELEPHONE,	
			a.CREATETIME,
			a.FREETIME,	
			a.PAGING,	
			a.FAX,	
			a.LINKMAN,	
			a.DISTRIBUTIONMODE,	
			a.CREDITDEGREE,	
			a.NOTE,
			a.NOTE2,
			a.NOTE3,
			a.USER_ID,	
			a.CUSTOMER_ID
		from 
		<include refid="tableName"></include> a
		where 1=1
		<if test="pd.keywords!= null and pd.keywords != ''"><!-- 关键词检索 -->
			and
				(
					a.CUATOMERNAME LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%')
					 or 
					a.PHONE LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%')
					or 
					a.COMPANY LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%')
					or 
					a.ADDRESS LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%')
					or 
					a.DISTRIBUTIONMODE LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%')
					or 
					a.NOTE LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%')
					or 
					a.USER_ID LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%')
				)
		</if>
		<if test="pd.lastStart!=null and pd.lastStart!=''">
			and a.CREATETIME &gt;= #{pd.lastStart} 
		</if>
		<if test="pd.lastEnd!=null and pd.lastEnd!=''">
			and a.CREATETIME &lt;= #{pd.lastEnd} 
		</if>
		
		and PK_SOBOOKS = #{pd.PK_SOBOOKS}
			and IFNULL(DR,0)=0 
		order by a.LASTTIME desc
		
	</select>
	
	<!-- 列表(全部) -->
	<select id="listAll" parameterType="pd" resultType="pd">
		select
		<include refid="FieldCha"></include>
		from 
		<include refid="tableName"></include>
		where
			1=1
		<if test="days!=null and days!=''"><!-- 几天内 -->
			and DATE_SUB(CURDATE(), INTERVAL ${days} DAY) &lt;= date(CREATETIME)
		</if>
			and PK_SOBOOKS = #{PK_SOBOOKS}
			and IFNULL(DR,0)=0 
	</select>
	
	<!-- 批量删除 -->
	<update id="deleteAll" parameterType="String">
		update 
		<include refid="tableName"></include>
		set 
			DR = 1
		where 
			CUSTOMER_ID in
		<foreach item="item" index="index" collection="array" open="(" separator="," close=")">
                 #{item}
		</foreach>
		   and PK_SOBOOKS = #{PK_SOBOOKS}
		   and IFNULL(DR,0)=0 
	</update>
	
	<select id="listAllCUS" parameterType="pd" resultType="pd">
		select	
	a.CUSTOMERCODE,
		a.CUATOMERNAME,	
		a.SIMPLENAME,	
		a.PHONE,	
		a.ADDRESS,	
		a.COMPANY,
		a.YICODE,	
		a.TELEPHONE,	
		a.PAGING,
		a.FREETIME,
		a.SUBADDR_ID,
		a.FAX,	
		a.LINKMAN,
		a.DISTRIBUTIONMODE,
		a.CREDITDEGREE,	
		a.NOTE,	
		a.NOTE2,
		a.NOTE3,
		b.NAME,
		c.ENTERPRISENAME,
		a.CREATETIME,	
		a.CUSTOMER_ID,
		a.DEF1,
		a.DEF2
		from base_customer as a left join sys_user as b on a.USER_ID=b.USER_ID
		left join base_sobooks as c on a.PK_SOBOOKS=c.SOBOOKS_ID
		where  a.PK_SOBOOKS = #{PK_SOBOOKS}
			and IFNULL(a.DR,0)=0 
	</select>
	
	<select id="finNameById" parameterType="pd" resultType="String">
		select CUATOMERNAME
		from base_customer
		where CUSTOMER_ID=#{CUSTOMER_ID}
		and IFNULL(DR,0)=0 
	</select>
</mapper>