<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="CustomersetbillMapper">
	
	<!--表名 -->
	<sql id="tableName">
		psi_customersetbill
	</sql>
	<sql id="customertn">
		base_customer
	</sql>
	<sql id="paymethod">
		base_paymethod
	</sql>
	
	<!-- 字段 -->
	<sql id="Field">
	  CUSTOMERSETBILL_ID,                                              
	  LDATE,                                                       
	  BILLCODE,                                                    
	  BILLTYPE,                                                    
	  BILLSTATUS,                                                  
	  USER_ID,                                                     
	  FROMUNIT,                                                    
	  DISTRIBUTIONMODE,                                            
	  INVOICETYPE,                                                 
	  BILLNO,                                                      
	  PAYMETHOD,                                                   
	  PAYABLEAMOUNT,                                               
	  PAYMENTAMOUNT,                                               
	  PAYABLEALLAM,  
	  SALEBILL_IDS,                                              
	  NOTE,                                                        
	  PK_SOBOOKS
	</sql>
	
	<sql id="FieldAll">
			CUSTOMERSETBILL_ID,                                              
			  LDATE,                                                       
			  BILLCODE,                                                    
			  BILLTYPE,                                                    
			  BILLSTATUS,                                                  
			  USER_ID,                                                     
			  FROMUNIT,                                                    
			  DISTRIBUTIONMODE,                                            
			  INVOICETYPE,                                                 
			  BILLNO,                                                      
			  PAYMETHOD,                                                   
			  PAYABLEAMOUNT,                                               
			  PAYMENTAMOUNT,                                               
			  PAYABLEALLAM,
			  SETTEDNUMANDID,  
			  SALEBILL_IDS,                                              
			  NOTE,                                                        
			  PK_SOBOOKS,
			  DEF1,
			  DEF2,
			  DEF3,
			  DEF4,
			  DEF5,
			  CREATETIME,
			  LASTTIME,
			  DR
	</sql>
	
	<!-- 字段值 -->
	<sql id="FieldValue">
	  #{CUSTOMERSETBILL_ID},                                              
	  #{LDATE},                                                       
	  #{BILLCODE},                                                    
	  #{BILLTYPE},                                                    
	  #{BILLSTATUS},                                                 
	  #{USER_ID},                                                    
	  #{FROMUNIT},                                                   
	  #{DISTRIBUTIONMODE},                                            
	  #{INVOICETYPE},                                                 
	  #{BILLNO},                                                      
	  #{PAYMETHOD},                                                   
	  #{PAYABLEAMOUNT},                                               
	  #{PAYMENTAMOUNT},                                              
	  #{PAYABLEALLAM},                                                
	  #{SALEBILL_IDS},                                                
	  #{NOTE},                                                        
	  #{PK_SOBOOKS}  
	</sql>
	
	<!-- 新增-->
	<insert id="save" parameterType="pd">
		insert into 
	<include refid="tableName"></include>
		(
	<include refid="Field"></include>
		) values (
	<include refid="FieldValue"></include>
		)
	</insert>
	
	<!-- 快照修改 -->
	<update id="snapshotedit" parameterType="pd" >
		update
		 <include refid="tableName"></include>
		set
		 	LDATE=#{LDATE},                                                       
			  BILLCODE=#{BILLCODE},                                                    
			  BILLTYPE=#{BILLTYPE},                                                    
			  BILLSTATUS=#{BILLSTATUS},                                                  
			  USER_ID=#{USER_ID},                                                     
			  FROMUNIT=#{FROMUNIT},                                                    
			  DISTRIBUTIONMODE=#{DISTRIBUTIONMODE},                                            
			  INVOICETYPE=#{INVOICETYPE},                                                 
			  BILLNO=#{BILLNO},                                                      
			  PAYMETHOD=#{PAYMETHOD},                                                   
			  PAYABLEAMOUNT=#{PAYABLEAMOUNT},                                               
			  PAYMENTAMOUNT=#{PAYMENTAMOUNT},                                               
			  PAYABLEALLAM=#{PAYABLEALLAM},
			  SETTEDNUMANDID=#{SETTEDNUMANDID},  
			  SALEBILL_IDS=#{SALEBILL_IDS},                                              
			  NOTE=#{NOTE},                                                        
			  PK_SOBOOKS=#{PK_SOBOOKS},
			  DEF1=#{DEF1},
			  DEF2=#{DEF2},
			  DEF3=#{DEF3},
			  DEF4=#{DEF4},
			  DEF5=#{DEF5},
			  CREATETIME=#{CREATETIME},
			  LASTTIME=#{LASTTIME},
			  DR=#{DR}
		where 
		 	 CUSTOMERSETBILL_ID = #{CUSTOMERSETBILL_ID}
			and PK_SOBOOKS = #{PK_SOBOOKS}
			and IFNULL(DR,0)=0
	</update>
	
	<!-- 删除-->
	<update id="delete" parameterType="pd">
		update 
		<include refid="tableName"></include>
		set
			DR = 1 
		where 
			CUSTOMERSETBILL_ID = #{CUSTOMERSETBILL_ID}
			and PK_SOBOOKS = #{PK_SOBOOKS}
			and IFNULL(DR,0)=0
	</update>
	<!-- 删除-->
	<update id="updateForSettle" parameterType="pd">
		update 
		<include refid="tableName"></include>
		set
			SETTEDNUMANDID = #{SETTEDNUMANDID},
			BILLSTATUS = #{BILLSTATUS}
		where 
			CUSTOMERSETBILL_ID = #{CUSTOMERSETBILL_ID}
			and PK_SOBOOKS = #{PK_SOBOOKS}
			and IFNULL(DR,0)=0
	</update>
	
	<!-- 修改 -->
	<update id="edit" parameterType="pd">
		update
		<include refid="tableName"></include>
		set                                                                                                       
			FROMUNIT=#{FROMUNIT},                                                   
			DISTRIBUTIONMODE=#{DISTRIBUTIONMODE},                                            
			INVOICETYPE=#{INVOICETYPE},                                                 
			BILLNO=#{BILLNO},                                                      
			PAYMETHOD=#{PAYMETHOD},                                                   
			PAYABLEAMOUNT=#{PAYABLEAMOUNT},                                               
			PAYMENTAMOUNT=#{PAYMENTAMOUNT},                                              
			PAYABLEALLAM=#{PAYABLEALLAM},                                                
			NOTE=#{NOTE}
		where 
			PK_SOBOOKS = #{PK_SOBOOKS} and
			CUSTOMERSETBILL_ID = #{CUSTOMERSETBILL_ID}
			and IFNULL(DR,0)=0
	</update>
	
	<!-- 通过ID获取数据 -->
	<select id="findById" parameterType="pd" resultType="pd">
		select 
		<include refid="FieldAll"></include>
		from 
		<include refid="tableName"></include>
		where 
			CUSTOMERSETBILL_ID = #{CUSTOMERSETBILL_ID}
			and PK_SOBOOKS = #{PK_SOBOOKS}
			and IFNULL(DR,0)=0
	</select>
	
	<!-- 列表 -->
	<select id="datalistPage" parameterType="page" resultType="pd">
		select
				  a.CUSTOMERSETBILL_ID,                                              
				  a.LDATE,                                                       
				  a.BILLCODE,                                                    
				  a.BILLTYPE,                                                    
				  a.BILLSTATUS,                                                  
				  a.USER_ID,    
				  a.FROMUNIT,                                                  
				  s.CUATOMERNAME as FROMUNITNAME,                                                    
				  a.DISTRIBUTIONMODE,                                            
				  a.INVOICETYPE,                                                 
				  a.BILLNO,                                                      
				  p.PAYMETHODNAME as PAYMETHOD,                                                   
				  a.PAYABLEAMOUNT,                                               
				  a.PAYMENTAMOUNT,                                               
				  a.PAYABLEALLAM,                                                
				  a.NOTE,                                                        
				  a.PK_SOBOOKS
		from 
		<include refid="tableName"></include> a,<include refid="customertn"></include> s,<include refid="paymethod"></include> p
		where 1=1
		and a.FROMUNIT = s.CUSTOMER_ID 
		and a.PAYMETHOD = p.PAYMETHOD_ID
		<if test="pd.keywords!= null and pd.keywords != ''"><!-- 关键词检索 -->
			and
				(
					s.CUATOMERNAME LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%')
					 or 
					a.BILLCODE LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%')
					or 
					a.PAYMETHOD LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%')
					or 
					a.DISTRIBUTIONMODE LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%')
					or 
					a.NOTE LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%')
				)
		</if>
		<if test="pd.lastStart!=null and pd.lastStart!=''">
			and a.CREATETIME &gt;= #{pd.lastStart} 
		</if>
		<if test="pd.lastEnd!=null and pd.lastEnd!=''">
			and a.CREATETIME &lt;= #{pd.lastEnd} 
		</if>
		<if test="pd.billstatus!=null and pd.billstatus!='' ">
			and a.BILLSTATUS = #{pd.billstatus} 
		</if>
		and a.PK_SOBOOKS = #{pd.PK_SOBOOKS}
			and IFNULL(a.DR,0)=0 
		order by a.LASTTIME desc
		
	</select>
	
	<!-- 列表(全部) -->
	<select id="listAll" parameterType="pd" resultType="pd">
		select
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include>
		where
			1=1
		<if test="days!=null and days!=''"><!-- 几天内 -->
			and DATE_SUB(CURDATE(), INTERVAL ${days} DAY) &lt;= date(LASTTIME)
		</if>
			and PK_SOBOOKS = #{PK_SOBOOKS}
			and IFNULL(DR,0)=0 
	</select>
	

	
	<!-- 批量删除 -->
	<update id="deleteAll" parameterType="String">
		update 
		<include refid="tableName"></include>
		set 
			DR = 1
		where 
			CUSTOMERSETBILL_ID in
		<foreach item="item" index="index" collection="array" open="(" separator="," close=")" >
                 #{item}
		</foreach>
		   and PK_SOBOOKS = #{PK_SOBOOKS}
		   and IFNULL(DR,0)=0 
	</update>
	
	
	<update id="updateNoteByCode" parameterType="pd">
		update 
			psi_customersetbill
		set NOTE = #{NOTE}
		where BILLCODE = #{BILLCODE}
	</update>
	<select id="listByCondition" parameterType="pd" resultType="pd">		
		select a.BILLCODE ,a.SALEBILL_IDS ,b.PAYMETHODNAME, a.BILLNO,c.NAME
		from psi_customersetbill as a left join base_paymethod as b on a.PAYMETHOD=b.PAYMETHOD_ID
		left join sys_user as c on a.USER_ID=c.USER_ID
		where  
		a.BILLSTATUS=2
		and a.PK_SOBOOKS = #{PK_SOBOOKS}
		and IFNULL(a.DR,0)=0 
		<if test="date!=null and  date!='' ">
			and	date_format(a.LASTTIME,'%Y-%m-%d')=#{date}
		</if>
		<if test="lastStart!=null and lastStart!=''">
			<if test="lastEnd!=null and lastEnd!='' ">
				and a.CREATETIME BETWEEN #{lastStart} and  #{lastEnd}	
			</if>
		</if>
		
		<if test="PAYMETHOD_ID!=null and PAYMETHOD_ID!='' ">
			and a.PAYMETHOD=#{PAYMETHOD_ID}
		</if>
		<if test="keywords!=null and keywords!=''">
			and c.NAME like concat('%',#{keywords},'%')
		</if>
	</select>
	
	<select id="listByConditionExcel" parameterType="pd" resultType="pd">
		select a.BILLCODE ,a.SALEBILL_IDS ,b.PAYMETHODNAME, a.BILLNO,c.NAME
		from psi_customersetbill as a left join base_paymethod as b on a.PAYMETHOD=b.PAYMETHOD_ID
		left join sys_user as c on a.USER_ID=c.USER_ID
		where  
		a.BILLSTATUS=2
		and a.PK_SOBOOKS = #{PK_SOBOOKS}
		and IFNULL(a.DR,0)=0 
		<if test="lastStart!=null and lastStart!='' ">
			<if test="lastEnd!=null and lastEnd!='' ">
			 and Date(a.LASTTIME) BETWEEN #{lastStart} and #{lastEnd}
			</if>
		</if>
		<if test="flag==1">
			and date_format(a.CREATETIME,'%Y-%m')= date_format(now(),'%Y-%m')
		</if>
	</select>
	<select id="listCustomterbillByPay" parameterType="pd" resultType="pd">
		select a.BILLCODE ,a.BILLTYPE,a.DISTRIBUTIONMODE,a.PAYMETHOD,a.PAYABLEAMOUNT,a.PAYMENTAMOUNT,a.PAYABLEALLAM,a.SALEBILL_IDS,a.LASTTIME,b.PAYMETHODNAME,c.NAME
		from psi_customersetbill as a left join base_paymethod as b on b.PAYMETHOD_ID=a.PAYMETHOD
		left join sys_user as c  on a.USER_ID=c.USER_ID
		where  a.PK_SOBOOKS = #{PK_SOBOOKS}
			and IFNULL(a.DR,0)=0 
			and a.BILLSTATUS=2
		<if test="lastStart!=null and lastStart!=''">
			and a.CREATETIME &gt;= #{lastStart} 
		</if>
		<if test="lastEnd!=null and lastEnd!=''">
			and a.CREATETIME &lt;= #{lastEnd} 
		</if>
		<if test="date!=null and date!=''">
			and date_format(a.CREATETIME,'%Y-%m-%d')=#{date}
		</if>
		<if test="PAYMETHOD_ID!=null and PAYMETHOD_ID!=''">
			and a.PAYMETHOD=#{PAYMETHOD_ID}
		</if>
	 </select>
	 
	 <select id="listAllToExcel" parameterType="pd" resultType="pd">
	 	select a.BILLCODE,b.CUATOMERNAME,d.PAYMETHODNAME,a.PAYABLEALLAM,a.PAYMENTAMOUNT,a.PAYABLEAMOUNT,a.INVOICETYPE,a.BILLNO,a.NOTE,a.LDATE,c.NAME,a.BILLSTATUS
		from psi_customersetbill as a left join base_customer as b on a.FROMUNIT=b.CUSTOMER_ID
		left join sys_user as c on c.USER_ID=a.USER_ID
		left join base_paymethod as d on d.PAYMETHOD_ID=a.PAYMETHOD
		where a.PK_SOBOOKS=#{PK_SOBOOKS}
		and ifnull(a.dr,0)=0
		order by a.CREATETIME desc
		<if test="lastStart!=null and lastStart!='' ">
			<if test="lastEnd!=null and lastEnd!='' ">
			 and Date(a.LASTTIME) BETWEEN #{lastStart} and #{lastEnd}
			</if>
		</if>
		<if test="flag==1">
			and date_format(a.CREATETIME,'%Y-%m')= date_format(now(),'%Y-%m')
		</if>
	 	
	 </select>

	<select id="datalistPageDetail" parameterType="page" resultType="pd">
		select a.BILLCODE,a.LDATE,b.NAME,c.PAYMETHODNAME,a.PAYMENTAMOUNT,e.CUATOMERNAME
		from psi_customersetbill as a 
		left join sys_user as b on a.USER_ID=b.USER_ID
		left join base_paymethod as c on a.PAYMETHOD=c.PAYMETHOD_ID 
		left join psi_salebill as d on  d.SALEBILL_ID=Replace(substring_index(a.SALEBILL_IDS,',',1),"'",'')
		left join base_customer as e on e.CUSTOMER_ID=d.CUSTOMER_ID
		where  a.PK_SOBOOKS=#{pd.PK_SOBOOKS}
		and ifnull(a.dr,0)=0
		and	a.BILLSTATUS=2
		<if test="pd.lastStart!=null and pd.lastStart!='' ">
			<if test="pd.lastEnd!=null and pd.lastEnd!='' ">
			 and Date(a.LASTTIME) BETWEEN #{pd.lastStart} and #{pd.lastEnd}
			</if>
		</if>
		<if test="pd.keywords!= null and pd.keywords != ''"><!-- 关键词检索 -->
			and
				(
					e.CUATOMERNAME LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%')
					 or 
					a.BILLCODE LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%')
					or 
					c.PAYMETHOD LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%')
					or 
					b.NAME LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%')
				)
		</if>
		order by a.CREATETIME desc
	</select>
	
	<select id="excelDetail" parameterType="pd" resultType="pd">
		select a.BILLCODE, date_format(a.CREATETIME,'%Y-%m-%d %H-%i-%s') as LDATE,b.NAME,c.PAYMETHODNAME,a.PAYMENTAMOUNT,e.CUATOMERNAME
		from psi_customersetbill as a 
		left join sys_user as b on a.USER_ID=b.USER_ID
		left join base_paymethod as c on a.PAYMETHOD=c.PAYMETHOD_ID 
		left join psi_salebill as d on  d.SALEBILL_ID=Replace(substring_index(a.SALEBILL_IDS,',',1),"'",'')
		left join base_customer as e on e.CUSTOMER_ID=d.CUSTOMER_ID
		where  a.PK_SOBOOKS=#{PK_SOBOOKS}
		and ifnull(a.dr,0)=0
		<if test="flag!=1">
			<if test="lastStart!=null and lastStart!='' ">
				<if test="lastEnd!=null and lastEnd!='' ">
				 and Date(a.LASTTIME) BETWEEN #{lastStart} and #{lastEnd}
				</if>
			</if>
		</if>
		<if test="flag==1">
			and date_format(a.CREATETIME,'%Y-%m')= date_format(now(),'%Y-%m')
		</if>
		order by a.CREATETIME desc
	</select>
</mapper>