<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="InOrderMapper">
	
	
	<!--表名 -->
	<sql id="tableName">
		psi_inorder
	</sql>
	
	<!-- 字段 -->
	<sql id="Field">
		INORDER_ID,
		PK_SOBOOKS,
		LDATE,
		BILLCODE,
		SUPPLIER_ID,
		SUPPLIERNO,
		USER_ID,
		WAREHOUSE_ID,
		ALLAMOUNT,
		BILLTYPE,
		BILLSTATUS,
		PAIDAMOUNT,
		UNPAIDAMOUNT,
		THISPAY,
		SUBBRANCH,
		NOTE,
		ISSETTLEMENTED
	</sql>
	
	<!-- 字段值 -->
	<sql id="FieldValue">
		#{INORDER_ID},	
		#{PK_SOBOOKS},
		#{LDATE},	
		#{BILLCODE},	
		#{SUPPLIER_ID},	
		#{SUPPLIERNO},	
		#{USER_ID},	
		#{WAREHOUSE_ID},	
		#{ALLAMOUNT},	
		#{BILLTYPE},	
		#{BILLSTATUS},	
		#{PAIDAMOUNT},	
		#{UNPAIDAMOUNT},
		#{THISPAY},	
		#{SUBBRANCH},
		#{NOTE},
		#{ISSETTLEMENTED}
	</sql>
	<sql id="InAllField">
		INORDER_ID,     
		LDATE,          
		BILLCODE,       
		SUPPLIER_ID,    
		SUPPLIERNO,    
		USER_ID,        
		WAREHOUSE_ID,   
		ALLAMOUNT,      
		BILLTYPE,       
		BILLSTATUS,     
		PAIDAMOUNT,     
		UNPAIDAMOUNT,   
		THISPAY,        
		SUBBRANCH,      
		SUPPSETBILL_ID, 
		NOTE,       
		ISSETTLEMENTED, 
		SETTEDNUMANDID, 
		PK_SOBOOKS,     
		DEF1,           
		DEF2,           
		DEF3,           
		DEF4,           
		DEF5,           
		CREATETIME,     
		LASTTIME,       
		DR            
	</sql>


	<sql id="InAllFieldValue">
		#{INORDER_ID},        
		#{LDATE},             
		#{BILLCODE},          
		#{SUPPLIER_ID},       
		#{SUPPLIERNO},       
		#{USER_ID},           
		#{WAREHOUSE_ID},      
		#{ALLAMOUNT},         
		#{BILLTYPE},          
		#{BILLSTATUS},        
		#{PAIDAMOUNT},        
		#{UNPAIDAMOUNT},      
		#{THISPAY},           
		#{SUBBRANCH},         
		#{SUPPSETBILL_ID},    
		#{NOTE},          
		#{ISSETTLEMENTED},    
		#{SETTEDNUMANDID},    
		#{PK_SOBOOKS},        
		#{DEF1},              
		#{DEF2},              
		#{DEF3},              
		#{DEF4},              
		#{DEF5},              
		#{CREATETIME},        
		#{LASTTIME},          
		#{DR}                
	</sql>
	<!-- 新增-->
	<insert id="save" parameterType="pd">
		insert into 
	<include refid="tableName"></include>
		(
	<include refid="Field"></include>
		) values (
	<include refid="FieldValue"></include>
		)
	</insert>
	
	<!-- 删除-->
	<update id="delete" parameterType="pd">
		update
		<include refid="tableName"></include>
		set DR = 1
		where 
			INORDER_ID = #{INORDER_ID}
			and PK_SOBOOKS = #{PK_SOBOOKS}
	</update>
	
	<!-- 修改 -->
	<update id="edit" parameterType="pd">
		update
		<include refid="tableName"></include>
		set 
			WAREHOUSE_ID = #{WAREHOUSE_ID},
			SUPPLIER_ID = #{SUPPLIER_ID},
			SUPPLIERNO = #{SUPPLIERNO},
			ALLAMOUNT = #{ALLAMOUNT},
			UNPAIDAMOUNT = #{UNPAIDAMOUNT}, 
			NOTE = #{NOTE}
		where 
			INORDER_ID = #{INORDER_ID}
			and PK_SOBOOKS = #{PK_SOBOOKS}
			and IFNULL(dr,0)=0
	</update>
	<update id="inordersnapshotedit" parameterType="pd">
		update
		<include refid="tableName"></include>
		set
			LDATE=#{LDATE},          
			BILLCODE=#{BILLCODE},       
			SUPPLIER_ID=#{SUPPLIER_ID},    
			SUPPLIERNO=#{SUPPLIERNO},    
			USER_ID=#{USER_ID},        
			WAREHOUSE_ID=#{WAREHOUSE_ID},   
			ALLAMOUNT=#{ALLAMOUNT},      
			BILLTYPE=#{BILLTYPE},       
			BILLSTATUS=#{BILLSTATUS},     
			PAIDAMOUNT=#{PAIDAMOUNT},     
			UNPAIDAMOUNT=#{UNPAIDAMOUNT},   
			THISPAY=#{THISPAY},        
			SUBBRANCH=#{SUBBRANCH},      
			SUPPSETBILL_ID=#{SUPPSETBILL_ID}, 
			NOTE=#{NOTE},       
			ISSETTLEMENTED=#{ISSETTLEMENTED}, 
			SETTEDNUMANDID=#{SETTEDNUMANDID}, 
			PK_SOBOOKS=#{PK_SOBOOKS},     
			DEF1=#{DEF1},           
			DEF2=#{DEF2},           
			DEF3=#{DEF3},           
			DEF4=#{DEF4},           
			DEF5=#{DEF5},           
			CREATETIME=#{CREATETIME},     
			LASTTIME=#{LASTTIME},       
			DR=#{DR}  
		where 
			INORDER_ID = #{INORDER_ID}
			and PK_SOBOOKS = #{PK_SOBOOKS}
			and IFNULL(dr,0)=0
	</update>
	
	<!-- 修改 -->
	<update id="editFromSupp" parameterType="pd">
		update
		<include refid="tableName"></include>
		set 
			SUPPSETBILL_ID = #{SUPPSETBILL_ID},
			ISSETTLEMENTED = #{ISSETTLEMENTED}
		where 
			INORDER_ID = #{INORDER_ID}
			and PK_SOBOOKS = #{PK_SOBOOKS}
			and IFNULL(dr,0)=0
	</update>
	
	
	<!-- 结算一张进货单 -->
	<update id="updateForSettle" parameterType="pd"  >
		update
		<include refid="tableName"></include>
		set 
			UNPAIDAMOUNT = #{UNPAIDAMOUNT},
			THISPAY = #{THISPAY},
			PAIDAMOUNT = #{PAIDAMOUNT},
			ISSETTLEMENTED = #{ISSETTLEMENTED},
			SUPPSETBILL_ID = #{SUPPSETBILL_ID},
			SETTEDNUMANDID = #{SETTEDNUMANDID}
		where 
		    INORDER_ID = #{INORDER_ID}
		and PK_SOBOOKS = #{PK_SOBOOKS}
		and IFNULL(dr,0)=0
	</update>
	
	
	<!-- 通过ID获取数据 -->
	<select id="findById" parameterType="pd" resultType="pd">
		select 
			a.PK_SOBOOKS,
			a.INORDER_ID,
			a.LDATE,
			a.BILLCODE,
			a.SUPPLIER_ID,
			a.SUPPLIERNO,
			a.USER_ID,
			a.WAREHOUSE_ID,
			a.ALLAMOUNT,
			a.BILLTYPE,
			a.BILLSTATUS,
			a.PAIDAMOUNT,
			a.UNPAIDAMOUNT,
			a.THISPAY,
			a.SUBBRANCH,
			a.NOTE,
			a.ISSETTLEMENTED,
			a.SUPPSETBILL_ID,
			b.SUPPLIERNAME,
			c.WHNAME 
		from 
		<include refid="tableName"></include> a
		left join base_supplier b
		on a.SUPPLIER_ID = b.SUPPLIER_ID
		left join base_warehouse c
		on a.WAREHOUSE_ID = c.WAREHOUSE_ID
		where 
			a.INORDER_ID = #{INORDER_ID}
			and a.PK_SOBOOKS = #{PK_SOBOOKS}
			and IFNULL(a.dr,0)=0
	</select>
	<select id="findAllById" parameterType="pd" resultType="pd" >
		select 
			<include refid="InAllField"></include>
		from
		 <include refid="tableName"></include>
		where 
			 INORDER_ID = #{INORDER_ID}
		    and PK_SOBOOKS = #{PK_SOBOOKS}
			and IFNULL(dr,0)=0
			<if test="BILLTYPE!=null and BILLTYPE!=''">
				and BILLTYPE = #{BILLTYPE}
			</if>
	</select>
	<select id="listForBySuppsetId" parameterType="pd" resultType="pd" >
		select 
			<include refid="InAllField"></include>
		from
		 <include refid="tableName"></include>
		where 
			 SUPPSETBILL_ID = #{SUPPSETBILL_ID}
		    and PK_SOBOOKS = #{PK_SOBOOKS}
			and IFNULL(dr,0)=0
			<if test="BILLTYPE!=null and BILLTYPE!=''">
				and BILLTYPE = #{BILLTYPE}
			</if>
	</select>
	
	<!-- 列表 -->
	<select id="datalistPage" parameterType="page" resultType="pd">
		select
			a.PK_SOBOOKS,
			a.INORDER_ID,
			a.LDATE,
			a.BILLCODE,
			a.SUPPLIER_ID,
			a.SUPPLIERNO,
			a.USER_ID,
			a.WAREHOUSE_ID,
			a.ALLAMOUNT,
			a.BILLTYPE,
			a.BILLSTATUS,
			a.PAIDAMOUNT,
			a.UNPAIDAMOUNT,
			a.THISPAY,
			a.SUBBRANCH,
			a.NOTE,
			a.ISSETTLEMENTED,
			b.SUPPLIERNAME SUPPLIERNAME
		from 
		<include refid="tableName"></include>a
		left join base_supplier b
		on a.SUPPLIER_ID = b.SUPPLIER_ID
		where 1=1
		and a.PK_SOBOOKS = #{pd.PK_SOBOOKS}
		and IFNULL(a.dr,0)=0
		<if test="pd.keywords!= null and pd.keywords != ''"><!-- 关键词检索 -->
			and
				(
					a.NOTE LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%')
					<!--  or 
					LEGALREP LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%')
					 -->
				)
		</if>
		<!-- 供应商ID -->
		<if test="pd.SUPPLIER_ID != null and pd.SUPPLIER_ID != ''">
			and  a.SUPPLIER_ID= #{pd.SUPPLIER_ID}
		</if>
		<!-- 是否结算了的 -->
		<if test="pd.ISSETTLEMENTED != null and pd.ISSETTLEMENTED != ''">
			and  a.ISSETTLEMENTED = #{pd.ISSETTLEMENTED}
		</if>
		<!-- 审核状态 -->
		<if test="pd.BILLSTATUS != null and pd.BILLSTATUS != ''">
			and  a.BILLSTATUS = #{pd.BILLSTATUS}
		</if>
		<if test="pd.BILLTYPE!=null and pd.BILLTYPE!=''">
				and a.BILLTYPE = #{pd.BILLTYPE}
		</if>
		order by a.LASTTIME DESC
	</select>
	
	
	<!-- 列表 -->
	<select id="datalistPageBySuppset" parameterType="page" resultType="pd">
		select
			a.INORDER_ID,
			a.BILLCODE,
			b.SUPPLIERNAME SUPPLIERNAME,
			a.SUPPLIERNO,
			a.ALLAMOUNT,
			a.UNPAIDAMOUNT,
			a.PAIDAMOUNT,
			a.THISPAY,
			a.BILLTYPE,
			a.ISSETTLEMENTED,
			a.USER_ID,
			a.NOTE
		from 
		<include refid="tableName"></include>a
		left join base_supplier b
		on a.SUPPLIER_ID = b.SUPPLIER_ID
		where 1=1
		and a.PK_SOBOOKS = #{pd.PK_SOBOOKS}
		and IFNULL(a.dr,0)=0
		<if test="pd.keywords!= null and pd.keywords != ''"><!-- 关键词检索 -->
			and
				(
					NOTE LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%')
					<!--  or 
					LEGALREP LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%')
					 -->
				)
		</if>
		<!-- 供应商ID -->
		<if test="pd.SUPPLIER_ID != null and pd.SUPPLIER_ID != ''">
			and  a.SUPPLIER_ID= #{pd.SUPPLIER_ID}
		</if>
		<!-- 结算状态 -->
		<if test="pd.ISSETTLEMENTED == 4">
			and  a.ISSETTLEMENTED != 1
		</if>
		<if test="pd.ISSETTLEMENTED != null and pd.ISSETTLEMENTED != '' and pd.ISSETTLEMENTED != 4 ">
			and  a.ISSETTLEMENTED = #{pd.ISSETTLEMENTED}
		</if>	
		and a.BILLSTATUS = 2
	</select>
	
	<select id="findByInOrderId" parameterType="pd" resultType="pd">
		select
			a.INORDER_ID,
			a.BILLCODE,
			b.SUPPLIERNAME SUPPLIERNAME,
			a.SUPPLIERNO,
			a.BILLTYPE,
			a.ALLAMOUNT,
			a.UNPAIDAMOUNT,
			a.PAIDAMOUNT,
			a.THISPAY,
			a.ISSETTLEMENTED,
			a.USER_ID,
			a.NOTE
		from 
		<include refid="tableName"></include>a
		left join base_supplier b
		on a.SUPPLIER_ID = b.SUPPLIER_ID
		where 1=1
		and a.PK_SOBOOKS = #{PK_SOBOOKS}
		and IFNULL(a.dr,0)=0
		and a.INORDER_ID = #{INORDER_ID}
	</select>
	
	<!-- 列表(全部) -->
	<select id="listAll" parameterType="pd" resultType="pd">
		select
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include>
		where
			1=1
			and PK_SOBOOKS = #{PK_SOBOOKS}
			and IFNULL(dr,0)=0
			<if test="BILLTYPE!=null and BILLTYPE!=''">
				and BILLTYPE = #{BILLTYPE}
			</if>
		<!-- <if test="USERNAME!=null and USERNAME!=''">
			and USERNAME = #{USERNAME} 
		</if> -->
		<!-- <if test="days!=null and days!=''">几天内
			and DATE_SUB(CURDATE(), INTERVAL ${days} DAY) &lt;= date(CTIME)
		</if> -->
	</select>
	
	<!-- 批量删除 -->
	<update id="deleteAll" parameterType="String">
		update 
		<include refid="tableName"></include>
		set DR = 1 
		where 
			INORDER_ID in
		<foreach item="item" index="index" collection="array" open="(" separator="," close=")">
                 #{item}
		</foreach>
	</update>
	<!-- *结算单反审进货单功能 使进货单的单据状态为审核不通过 -->
	<update id="retrialInorder" parameterType="pd">
		update
		<include refid="tableName"></include>
		set 
			BILLSTATUS = 3
		where 
		    INORDER_ID = #{INORDER_ID}
		    and PK_SOBOOKS = #{PK_SOBOOKS}
			and IFNULL(dr,0)=0
	</update>
	<!-- *结算单反审进货单功能 使进货单的单据状态为审核不通过 -->
	<update id="updateSettleStatus" parameterType="pd">
		update
		<include refid="tableName"></include>
		set 
			ISSETTLEMENTED = #{ISSETTLEMENTED}
		where 
		    INORDER_ID = #{INORDER_ID}
		    and PK_SOBOOKS = #{PK_SOBOOKS}
			and IFNULL(dr,0)=0
	</update>
	
	<!-- 审批-->
	<update id="shenpi" parameterType="pd">
		update
		<include refid="tableName"></include>
		set BILLSTATUS = #{BILLSTATUS}
		where 
			INORDER_ID = #{INORDER_ID}
			and PK_SOBOOKS = #{PK_SOBOOKS}
			and IFNULL(dr,0)=0
	</update>
	<!-- 反审-->
	<update id="fanshen" parameterType="pd">
		update
		<include refid="tableName"></include>
		set BILLSTATUS = #{BILLSTATUS}
		where 
			INORDER_ID = #{INORDER_ID}
			and PK_SOBOOKS = #{PK_SOBOOKS}
			and IFNULL(dr,0)=0
	</update>
	
	<select id="datalistPageByOderSale" parameterType="page" resultType="pd">
		select a.BILLCODE,d.GOODNAME,b.UNITPRICE_ID,b.PNUMBER,a.ALLAMOUNT,a.PAIDAMOUNT,a.LASTTIME,c.USERNAME,a.BILLTYPE,
		e.SUPPLIERNAME as startplace , f.WHNAME as endplace
		from psi_inorder as a 
		left join  psi_inorder_body as b on  a.INORDER_ID=b.INORDER_ID
		left join sys_user as c on a.USER_ID=c.USER_ID
		left join  base_good as d on b.GOODCODE_ID=d.GOODCODE
		left join base_supplier as e on a.SUPPLIER_ID=e.SUPPLIER_ID 
		left join  base_warehouse as f on b.WAREHOUSE_ID=f.WAREHOUSE_ID
		where a.PK_SOBOOKS=1
		and ifnull(a.dr,0)=0
		<if test="pd.keywords!=null and pd.keywords!='' ">
			and d.GOODNAME like concat('%',#{pd.keywords},'%')
			or  c.USERNAME like concat('%',#{pd.keywords},'%')
			or  e.SUPPLIERNAME like concat('%',#{pd.keywords},'%')
			or  f.WHNAME like concat('%',#{pd.keywords},'%')
		</if>
		<if test="pd.lastStart!=null and pd.lastStart!='' ">
			<if test="pd.lastEnd!=null and pd.lastEnd!='' ">
			 and Date(a.LASTTIME) BETWEEN #{pd.lastStart} and #{pd.lastEnd}
			</if>
		</if>
		<if test="pd.WAREHOUSE_ID!=null and pd.WAREHOUSE_ID!=''">
			and b.WAREHOUSE_ID=#{pd.WAREHOUSE_ID}
		</if>
		<if test="pd.BILLTYPE!=null and pd.BILLTYPE!=''">
				and a.BILLTYPE = #{pd.BILLTYPE}
		</if>
		order by a.LASTTIME desc
	</select>
	
	<select id="datalistPageByCondition" parameterType="page" resultType="pd">
		select a.INORDER_ID,a.BILLCODE , a.BILLTYPE,c.GOODNAME ,d.NAME , e.SUPPLIERNAME , f.WHNAME ,a.ALLAMOUNT,a.PAIDAMOUNT,a.UNPAIDAMOUNT,
		b.PNUMBER,a.CREATETIME,b.UNITPRICE_ID,g.PAYMETHOD,h.PAYMETHODNAME
		from 	
		psi_inorder as a left JOIN psi_inorder_body as b on a.INORDER_ID=b.INORDER_ID
		left join base_good as c on b.GOODCODE_ID=c.GOODCODE
		left join  sys_user as d on a.USER_ID=d.USER_ID
		left join base_supplier as e on  a.SUPPLIER_ID=e.SUPPLIER_ID
		left join base_warehouse as f on b.WAREHOUSE_ID=f.WAREHOUSE_ID
		left join psi_suppsetbill as g on a.SUPPSETBILL_ID=g.SUPPSETBILL_ID
		left join base_paymethod as h on  h.PAYMETHOD_ID=g.PAYMETHOD
		where a.PK_SOBOOKS=#{pd.PK_SOBOOKS}
		and ifnull(a.dr,0)=0
		and a.BILLSTATUS=2
		<if test="pd.keywords!=null and pd.keywords!=''">
			and c.GOODNAME like concat('%',#{pd.keywords},'%')
			or e.SUPPLIERNAME like concat('%',#{pd.keywords},'%')
			or d.NAME  like concat('%',#{pd.keywords},'%')
	    	or f.WHNAME  like concat('%',#{pd.keywords},'%')
		</if>
		and a.INORDER_ID  in 
	    <foreach collection="list" item="item" index="index"
	            open="(" close=")" separator=",">
	            ${item}
	     </foreach>
		<if test="pd.PAYMETHOD_ID!=null and pd.PAYMETHOD_ID!='' ">
			and h.PAYMETHOD_ID=#{pd.PAYMETHOD_ID}
		</if>
		<if test="pd.BILLTYPE!=null and pd.BILLTYPE!=''">
				and a.BILLTYPE = #{pd.BILLTYPE}
		</if>
	</select>
</mapper>