<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="SalebillMapper">
	
	
	<!--表名 -->
	<sql id="tableName">
		psi_salebill
	</sql>
	
	<!-- 字段 -->
	<sql id="Field">
		SALEBILL_ID,
		PK_SOBOOKS,
		LDATE,
		BILLCODE,
		CUSTOMER_ID,
		USER_ID,
		WAREHOUSE_ID,
		ALLAMOUNT,
		BILLTYPE,
		BILLSTATUS,
		PAIDAMOUNT,
		UNPAIDAMOUNT,
		THISPAY,
		SUBBRANCH,
		PAYDATE,
		CUSBILLNO,
		TOADDRESS,
		NOTE,
		ISSETTLEMENTED
	</sql>
	
	<!-- 字段值 -->
	<sql id="FieldValue">
		#{SALEBILL_ID},	
		#{PK_SOBOOKS},
		#{LDATE},	
		#{BILLCODE},	
		#{CUSTOMER_ID},	
		#{USER_ID},	
		#{WAREHOUSE_ID},	
		#{ALLAMOUNT},	
		#{BILLTYPE},	
		#{BILLSTATUS},	
		#{PAIDAMOUNT},	
		#{UNPAIDAMOUNT},
		#{THISPAY},	
		#{SUBBRANCH},
		#{PAYDATE},
		#{CUSBILLNO},
		#{TOADDRESS},
		#{NOTE},
		#{ISSETTLEMENTED}
	</sql>
	<sql id="InAllField">
		SALEBILL_ID,     
		LDATE,          
		BILLCODE,       
		CUSTOMER_ID,    
		USER_ID,        
		WAREHOUSE_ID,   
		ALLAMOUNT,      
		BILLTYPE,       
		BILLSTATUS,     
		PAIDAMOUNT,     
		UNPAIDAMOUNT,   
		THISPAY,        
		SUBBRANCH,      
		CUSTOMERSETBILL_ID, 
		PAYDATE,
		CUSBILLNO,
		TOADDRESS,
		NOTE,       
		ISSETTLEMENTED, 
		SETTEDNUMANDID, 
		PK_SOBOOKS,     
		DEF1,           
		DEF2,           
		DEF3,           
		DEF4,           
		DEF5,           
		CREATETIME,     
		LASTTIME,       
		DR            
	</sql>


	<sql id="InAllFieldValue">
		#{SALEBILL_ID},        
		#{LDATE},             
		#{BILLCODE},          
		#{CUSTOMER_ID},       
		#{USER_ID},           
		#{WAREHOUSE_ID},      
		#{ALLAMOUNT},         
		#{BILLTYPE},          
		#{BILLSTATUS},        
		#{PAIDAMOUNT},        
		#{UNPAIDAMOUNT},      
		#{THISPAY},           
		#{SUBBRANCH},         
		#{CUSTOMERSETBILL_ID},  
		#{PAYDATE},
		#{CUSBILLNO},
		#{TOADDRESS},  
		#{NOTE},          
		#{ISSETTLEMENTED},    
		#{SETTEDNUMANDID},    
		#{PK_SOBOOKS},        
		#{DEF1},              
		#{DEF2},              
		#{DEF3},              
		#{DEF4},              
		#{DEF5},              
		#{CREATETIME},        
		#{LASTTIME},          
		#{DR}                
	</sql>
	<!-- 新增-->
	<insert id="save" parameterType="pd">
		insert into 
	<include refid="tableName"></include>
		(
	<include refid="Field"></include>
		) values (
	<include refid="FieldValue"></include>
		)
	</insert>
	
	<!-- 删除-->
	<update id="delete" parameterType="pd">
		update
		<include refid="tableName"></include>
		set DR = 1
		where 
			SALEBILL_ID = #{SALEBILL_ID}
			and PK_SOBOOKS = #{PK_SOBOOKS}
	</update>
	
	<!-- 修改 -->
	<update id="edit" parameterType="pd">
		update
		<include refid="tableName"></include>
		set 
			WAREHOUSE_ID = #{WAREHOUSE_ID},
			CUSTOMER_ID = #{CUSTOMER_ID},
			ALLAMOUNT = #{ALLAMOUNT},
			UNPAIDAMOUNT = #{UNPAIDAMOUNT}, 
			PAYDATE = #{PAYDATE}, 
			CUSBILLNO = #{CUSBILLNO}, 
			TOADDRESS = #{TOADDRESS}, 
			NOTE = #{NOTE}
		where 
			SALEBILL_ID = #{SALEBILL_ID}
			and PK_SOBOOKS = #{PK_SOBOOKS}
			and IFNULL(dr,0)=0
	</update>
	<update id="salebillsnapshotedit" parameterType="pd">
		update
		<include refid="tableName"></include>
		set
			LDATE=#{LDATE},          
			BILLCODE=#{BILLCODE},       
			CUSTOMER_ID=#{CUSTOMER_ID},    
			USER_ID=#{USER_ID},        
			WAREHOUSE_ID=#{WAREHOUSE_ID},   
			ALLAMOUNT=#{ALLAMOUNT},      
			BILLTYPE=#{BILLTYPE},       
			BILLSTATUS=#{BILLSTATUS},     
			PAIDAMOUNT=#{PAIDAMOUNT},     
			UNPAIDAMOUNT=#{UNPAIDAMOUNT},   
			THISPAY=#{THISPAY},        
			SUBBRANCH=#{SUBBRANCH},      
			CUSTOMERSETBILL_ID=#{CUSTOMERSETBILL_ID}, 
			PAYDATE = #{PAYDATE}, 
			CUSBILLNO = #{CUSBILLNO}, 
			TOADDRESS = #{TOADDRESS},
			NOTE=#{NOTE},       
			ISSETTLEMENTED=#{ISSETTLEMENTED}, 
			SETTEDNUMANDID=#{SETTEDNUMANDID}, 
			PK_SOBOOKS=#{PK_SOBOOKS},     
			DEF1=#{DEF1},           
			DEF2=#{DEF2},           
			DEF3=#{DEF3},           
			DEF4=#{DEF4},           
			DEF5=#{DEF5},           
			CREATETIME=#{CREATETIME},     
			LASTTIME=#{LASTTIME},       
			DR=#{DR}  
		where 
			SALEBILL_ID = #{SALEBILL_ID}
			and PK_SOBOOKS = #{PK_SOBOOKS}
			and IFNULL(dr,0)=0
	</update>
	
	<!-- 修改 -->
	<update id="editFromCustomer" parameterType="pd">
		update
		<include refid="tableName"></include>
		set 
			CUSTOMERSETBILL_ID = #{CUSTOMERSETBILL_ID},
			ISSETTLEMENTED = #{ISSETTLEMENTED}
		where 
			SALEBILL_ID = #{SALEBILL_ID}
			and PK_SOBOOKS = #{PK_SOBOOKS}
			and IFNULL(dr,0)=0
	</update>
	
	
	<!-- 结算一张进货单 -->
	<update id="updateForSettle" parameterType="pd"  >
		update
		<include refid="tableName"></include>
		set 
			UNPAIDAMOUNT = #{UNPAIDAMOUNT},
			THISPAY = #{THISPAY},
			PAIDAMOUNT = #{PAIDAMOUNT},
			ISSETTLEMENTED = #{ISSETTLEMENTED},
			CUSTOMERSETBILL_ID = #{CUSTOMERSETBILL_ID},
			SETTEDNUMANDID = #{SETTEDNUMANDID}
		where 
		    SALEBILL_ID = #{SALEBILL_ID}
		and PK_SOBOOKS = #{PK_SOBOOKS}
		and IFNULL(dr,0)=0
	</update>
	
	
	<!-- 通过ID获取数据 -->
	<select id="findById" parameterType="pd" resultType="pd">
		select 
			a.PK_SOBOOKS,
			a.SALEBILL_ID,
			a.LDATE,
			a.BILLCODE,
			a.CUSTOMER_ID,
			a.USER_ID,
			a.WAREHOUSE_ID,
			a.ALLAMOUNT,
			a.BILLTYPE,
			a.BILLSTATUS,
			a.PAIDAMOUNT,
			a.UNPAIDAMOUNT,
			a.THISPAY,
			a.SUBBRANCH,
			a.PAYDATE,
			a.CUSBILLNO,
			a.TOADDRESS,
			a.NOTE,
			a.ISSETTLEMENTED,
			a.CUSTOMERSETBILL_ID,
			b.CUATOMERNAME,
			c.WHNAME 
		from 
		<include refid="tableName"></include> a
		left join base_customer b
		on a.CUSTOMER_ID = b.CUSTOMER_ID
		left join base_warehouse c
		on a.WAREHOUSE_ID = c.WAREHOUSE_ID
		where 
			a.SALEBILL_ID = #{SALEBILL_ID}
			and a.PK_SOBOOKS = #{PK_SOBOOKS}
			and IFNULL(a.dr,0)=0
	</select>
	<select id="findAllById" parameterType="pd" resultType="pd" >
		select 
			<include refid="InAllField"></include>
		from
		 <include refid="tableName"></include>
		where 
			 SALEBILL_ID = #{SALEBILL_ID}
		    and PK_SOBOOKS = #{PK_SOBOOKS}
			and IFNULL(dr,0)=0
	</select>
	<select id="listForByCustomersetId" parameterType="pd" resultType="pd" >
		select 
			<include refid="InAllField"></include>
		from
		 <include refid="tableName"></include>
		where 
			 CUSTOMERSETBILL_ID = #{CUSTOMERSETBILL_ID}
		    and PK_SOBOOKS = #{PK_SOBOOKS}
			and IFNULL(dr,0)=0
	</select>
	
	<!-- 列表 -->
	<select id="datalistPage" parameterType="page" resultType="pd">
		select
			a.PK_SOBOOKS,
			a.SALEBILL_ID,
			a.LDATE,
			a.BILLCODE,
			a.CUSTOMER_ID,
			a.USER_ID,
			a.WAREHOUSE_ID,
			a.ALLAMOUNT,
			a.BILLTYPE,
			a.BILLSTATUS,
			a.PAIDAMOUNT,
			a.UNPAIDAMOUNT,
			a.THISPAY,
			a.SUBBRANCH,
			a.PAYDATE,
			a.CUSBILLNO,
			a.TOADDRESS,
			a.NOTE,
			a.ISSETTLEMENTED,
			b.CUATOMERNAME CUATOMERNAME
		from 
		<include refid="tableName"></include>a
		left join base_customer b
		on a.CUSTOMER_ID = b.CUSTOMER_ID
		where 1=1
		and a.PK_SOBOOKS = #{pd.PK_SOBOOKS}
		and IFNULL(a.dr,0)=0
		<if test="pd.keywords!= null and pd.keywords != ''"><!-- 关键词检索 -->
			and
				(
					a.NOTE LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%')
					<!--  or 
					LEGALREP LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%')
					 -->
				)
		</if>
		<!-- 录单日期日期条件 -->
		<if test="pd.lastStart!=null and pd.lastStart!=''">
			and a.LDATE &gt;= #{pd.lastStart} 
		</if>
		<if test="pd.lastEnd!=null and pd.lastEnd!=''">
			and a.LDATE &lt;= #{pd.lastEnd} 
		</if>
		<!-- 客户ID -->
		<if test="pd.CUSTOMER_ID != null and pd.CUSTOMER_ID != ''">
			and  a.CUSTOMER_ID= #{pd.CUSTOMER_ID}
		</if>
		<!-- 是否结算了的 -->
		<if test="pd.ISSETTLEMENTED != null and pd.ISSETTLEMENTED != ''">
			and  a.ISSETTLEMENTED = #{pd.ISSETTLEMENTED}
		</if>
		<!-- 审核状态 -->
		<if test="pd.BILLSTATUS != null and pd.BILLSTATUS != ''">
			and  a.BILLSTATUS = #{pd.BILLSTATUS}
		</if>
		order by a.LASTTIME DESC
	</select>
	
	
	<!-- 列表 -->
	<select id="datalistPageByCustomerset" parameterType="page" resultType="pd">
		select
			a.SALEBILL_ID,
			a.BILLCODE,
			b.CUATOMERNAME CUATOMERNAME,
			a.ALLAMOUNT,
			a.UNPAIDAMOUNT,
			a.PAIDAMOUNT,
			a.THISPAY,
			a.ISSETTLEMENTED,
			a.USER_ID,
			a.NOTE
		from 
		<include refid="tableName"></include>a
		left join base_customer b
		on a.CUSTOMER_ID = b.CUSTOMER_ID
		where 1=1
		and a.PK_SOBOOKS = #{pd.PK_SOBOOKS}
		and IFNULL(a.dr,0)=0
		<if test="pd.keywords!= null and pd.keywords != ''"><!-- 关键词检索 -->
			and
				(
					NOTE LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%')
					<!--  or 
					LEGALREP LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%')
					 -->
				)
		</if>
		<!-- 客户ID -->
		<if test="pd.CUSTOMER_ID != null and pd.CUSTOMER_ID != ''">
			and  a.CUSTOMER_ID= #{pd.CUSTOMER_ID}
		</if>
		<!-- 结算状态 -->
		<if test="pd.ISSETTLEMENTED == 4">
			and  a.ISSETTLEMENTED != 1
		</if>
		<if test="pd.ISSETTLEMENTED != null and pd.ISSETTLEMENTED != '' and pd.ISSETTLEMENTED != 4 ">
			and  a.ISSETTLEMENTED = #{pd.ISSETTLEMENTED}
		</if>	
		and a.BILLSTATUS = 2
		order by a.LASTTIME DESC
	</select>
	
	<select id="findBySalebillId" parameterType="pd" resultType="pd">
		select
			a.SALEBILL_ID,
			a.BILLCODE,
			b.CUATOMERNAME CUATOMERNAME,
			a.ALLAMOUNT,
			a.UNPAIDAMOUNT,
			a.PAIDAMOUNT,
			a.THISPAY,
			a.ISSETTLEMENTED,
			a.USER_ID,
			a.NOTE
		from 
		<include refid="tableName"></include>a
		left join base_customer b
		on a.CUSTOMER_ID = b.CUSTOMER_ID
		where 1=1
		and a.PK_SOBOOKS = #{PK_SOBOOKS}
		and IFNULL(a.dr,0)=0
		and a.SALEBILL_ID = #{SALEBILL_ID}
	</select>
	
	<!-- 列表(全部) -->
	<select id="listAll" parameterType="pd" resultType="pd">
		select
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include>
		where
			1=1
			and PK_SOBOOKS = #{PK_SOBOOKS}
			and IFNULL(dr,0)=0
		<!-- <if test="USERNAME!=null and USERNAME!=''">
			and USERNAME = #{USERNAME} 
		</if> -->
		<!-- <if test="days!=null and days!=''">几天内
			and DATE_SUB(CURDATE(), INTERVAL ${days} DAY) &lt;= date(CTIME)
		</if> -->
	</select>
	
	<!-- 批量删除 -->
	<update id="deleteAll" parameterType="String">
		update 
		<include refid="tableName"></include>
		set DR = 1 
		where 
			SALEBILL_ID in
		<foreach item="item" index="index" collection="array" open="(" separator="," close=")">
                 #{item}
		</foreach>
	</update>
	<!-- *结算单反审进货单功能 使进货单的单据状态为审核不通过 -->
	<update id="retrialSalebill" parameterType="pd">
		update
		<include refid="tableName"></include>
		set 
			BILLSTATUS = 3
		where 
		    SALEBILL_ID = #{SALEBILL_ID}
		    and PK_SOBOOKS = #{PK_SOBOOKS}
			and IFNULL(dr,0)=0
	</update>
	<!-- *结算单反审进货单功能 使进货单的单据状态为审核不通过 -->
	<update id="updateSettleStatus" parameterType="pd">
		update
		<include refid="tableName"></include>
		set 
			ISSETTLEMENTED = #{ISSETTLEMENTED}
		where 
		    SALEBILL_ID = #{SALEBILL_ID}
		    and PK_SOBOOKS = #{PK_SOBOOKS}
			and IFNULL(dr,0)=0
	</update>
	
	<!-- 审批-->
	<update id="shenpi" parameterType="pd">
		update
		<include refid="tableName"></include>
		set BILLSTATUS = 2
		where 
			SALEBILL_ID = #{SALEBILL_ID}
			and PK_SOBOOKS = #{PK_SOBOOKS}
			and IFNULL(dr,0)=0
	</update>
	<!-- 反审-->
	<update id="fanshen" parameterType="pd">
		update
		<include refid="tableName"></include>
		set BILLSTATUS = 1
		where 
			SALEBILL_ID = #{SALEBILL_ID}
			and PK_SOBOOKS = #{PK_SOBOOKS}
			and IFNULL(dr,0)=0
	</update>
</mapper>