<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="AppStockMapper">
	
	<!--表名 -->
	<sql id="tableName">
		base_stock
	</sql>
	
	<!-- 字段 -->
	<sql id="FieldCha">	
		WAREHOUSE_GOOD_ID,
		WAREHOUSE_ID,
		GOOD_ID,
		STOCK
	</sql>
	<!-- 字段 -->
	<sql id="FieldAddOREDIT">	
		WAREHOUSE_GOOD_ID,
		WAREHOUSE_ID,
		GOOD_ID,
		STOCK,
		PK_SOBOOKS
	</sql>
	
	<!-- 字段值 -->
	<sql id="FieldValueAddOREDIT">
		#{WAREHOUSE_GOOD_ID},
		#{WAREHOUSE_ID},
		#{GOOD_ID},
		#{STOCK},
		#{PK_SOBOOKS}
	</sql>
	
	<select id="listStockById"  parameterType="pd" resultType="pd">
		select a.WAREHOUSE_ID,a.WHNAME ,b.STOCK ,b.PK_SOBOOKS from
		base_warehouse as a left join
		base_stock as b on
		a.WAREHOUSE_ID = b.WAREHOUSE_ID
		where b.GOOD_ID=#{GOODCODE}
			and b.PK_SOBOOKS = #{PK_SOBOOKS}
			and IFNULL(a.dr,0)=0 
	</select>
	
	<select id="listGoodsUpDate" parameterType="pd" resultType="pd">
			select a.GOODNAME, a.GOODPIC,a.STOCKNUM,a.LASTPPRICE ,c.NAME,a.FZUNIT_ID,b.STOCK 
			from base_good as a left join base_stock as b on a.GOODCODE=b.GOOD_ID 
			left join cp_spunit as c on a.CUNIT_ID=c.SPUNIT_ID
			where now() >SUBDATE(b.LASTTIME,interval -#{pd.OVERDATE} day)
			and a.PK_SOBOOKS = #{PK_SOBOOKS}
			and IFNULL(a.DR,0)=0 
			limit #{pageNum},10
	</select>
	
	<select id="listGoodsDownNum" parameterType="pd" resultType="pd">	
			select a.GOODNAME,a.GOODPIC,a.STOCKNUM,b.NAME,a.FZUNIT_ID ,a.LASTPPRICE
			from base_good as a left join cp_spunit as  b on a.CUNIT_ID=b.SPUNIT_ID
			where 
			 a.PK_SOBOOKS =#{PK_SOBOOKS}
			and a.STOCKDOWNNUM > a.STOCKNUM
			and IFNULL(a.DR,0)=0 
	</select>
</mapper>