<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="BZBillMapper">
	
	<!--表名 -->
	<sql id="tableName">
		base_bzbill
	</sql>
	
	
	<select id="findByPK" parameterType="pd" resultType="pd">
		select * from base_bzbill
		where PK_SOBOOKS=#{PK_SOBOOKS}
	</select>

	<update id="edit" parameterType="pd">
		update base_bzbill
		set TITLE=#{TITLE},
		TELEPHONE=#{TELEPHONE},
		ACCOUNTNAME=#{ACCOUNTNAME},
		ACCOUNTBANK=#{ACCOUNTBANK},
		ACCOUNT=#{ACCOUNT},
		NOTE=#{NOTE},
		PICTURE =#{PICTURE}
		where 
			PK_SOBOOKS=#{PK_SOBOOKS}
	</update>
</mapper>