<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Warehouse_Good_Mapper">
	
	<!--表名 -->
	<sql id="tableName">
		base_warehouse_good_supplier
	</sql>
	
	<!-- 字段 -->
	<sql id="FieldCha">	
		WAREHOUSE_GOOD_ID,
		WAREHOUSE_ID,
		GOOD_ID,
		STOCK
	</sql>
	<!-- 字段 -->
	<sql id="FieldAddOREDIT">	
		WAREHOUSE_GOOD_ID,
		WAREHOUSE_ID,
		GOOD_ID,
		STOCK,
		PK_SOBOOKS
	</sql>
	
	<!-- 字段值 -->
	<sql id="FieldValueAddOREDIT">
		#{WAREHOUSE_GOOD_ID},
		#{WAREHOUSE_ID},
		#{GOOD_ID},
		#{STOCK},
		#{PK_SOBOOKS}
	</sql>

	
	<!-- 新增-->
	<insert id="save" parameterType="pd">
		insert into 
	<include refid="tableName"></include>
		(
	<include refid="FieldAddOREDIT"></include>
		) values (
	<include refid="FieldValueAddOREDIT"></include>
		)
	</insert>
	
	<!-- 删除-->
	<update id="delete" parameterType="pd">
		update 
		<include refid="tableName"></include>
		set
			DR = 1 
		where 
			WAREHOUSE_ID = #{WAREHOUSE_ID}
			and GOOD_ID = #{GOOD_ID}
			and PK_SOBOOKS = #{PK_SOBOOKS}
			and IFNULL(DR,0)=0 
	</update>
	
	<!-- 修改 -->
	<update id="edit" parameterType="pd">
		update
		<include refid="tableName"></include>
		set 
			STOCK = #{STOCK}
		where 
		WAREHOUSE_ID = #{WAREHOUSE_ID}	
		and GOOD_ID = #{GOOD_ID}
		and PK_SOBOOKS = #{PK_SOBOOKS}
		and IFNULL(DR,0)=0 
	</update>
	
	<!-- 通过ID获取数据 -->
	<select id="findById" parameterType="pd" resultType="pd">
		select 
		<include refid="FieldCha"></include>
		from 
		<include refid="tableName"></include>
		where 
			WAREHOUSE_ID = #{WAREHOUSE_ID} 
			and PK_SOBOOKS = #{PK_SOBOOKS}
			and IFNULL(DR,0)=0 
	</select>
	
	<!-- 通过仓库-商品 ID 获取数据 -->
	<select id="findByWarehouseAndGood" parameterType="pd" resultType="pd">
		select 
		<include refid="FieldCha"></include>
		from 
		<include refid="tableName"></include>
		where 
			WAREHOUSE_ID = #{WAREHOUSE_ID} 
			and GOOD_ID = #{GOOD_ID}
			and PK_SOBOOKS = #{PK_SOBOOKS}
			and IFNULL(DR,0)=0 
	</select>
	
	<!-- 列表 -->
	<select id="datalistPage" parameterType="page" resultType="pd">
		select
		<include refid="FieldCha"></include>
		from 
		<include refid="tableName"></include>
		where 1=1
		<if test="pd.keywords!= null and pd.keywords != ''"><!-- 关键词检索 -->
		and
			(
				WHNAME LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%')
			)
		</if>
		<!-- 仓库筛选 -->
		<if test="pd.WAREHOUSE_ID!= null and pd.WAREHOUSE_ID != ''">
		and	WAREHOUSE_ID = #{WAREHOUSE_ID}
		</if>
		<!-- 商品筛选 -->
		<if test="pd.GOOD_ID!= null and pd.GOOD_ID != ''">
		and	GOOD_ID = #{GOOD_ID}
		</if>
		<!-- 供应商筛选 -->
<!-- 		<if test="pd.SUPPLIER_ID!= null and pd.SUPPLIER_ID != ''"> -->
<!-- 		and	SUPPLIER_ID = #{SUPPLIER_ID} -->
<!-- 		</if> -->
		and PK_SOBOOKS = #{pd.PK_SOBOOKS}
		and IFNULL(DR,0)=0 
	</select>
	
	<!-- 列表(全部) -->
	<select id="listAll" parameterType="pd" resultType="pd">
		select
		<include refid="FieldCha"></include>
		from 
		<include refid="tableName"></include>
		where 
		    PK_SOBOOKS = #{PK_SOBOOKS}
			and IFNULL(DR,0)=0 
	</select>
	
	<!-- 批量删除 -->
	<update id="deleteAll" parameterType="String">
		update 
		<include refid="tableName"></include>
		set 
			DR = 1
		where 
			WAREHOUSE_ID in
		<foreach item="item" index="index" collection="array" open="(" separator="," close=")">
                 #{item}
		</foreach>
		   and PK_SOBOOKS = #{PK_SOBOOKS}
		   and IFNULL(DR,0)=0 
	</update>
</mapper>