<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="AppInOderMapper">
	
	<!--表名 -->
	<sql id="tableName">
		psi_inorder
	</sql>
	
	<!-- 字段 -->
	<sql id="Field">
		INORDER_ID,
		PK_SOBOOKS,
		LDATE,
		BILLCODE,
		SUPPLIER_ID,
		USER_ID,
		WAREHOUSE_ID,
		ALLAMOUNT,
		BILLTYPE,
		BILLSTATUS,
		PAIDAMOUNT,
		UNPAIDAMOUNT,
		THISPAY,
		SUBBRANCH,
		NOTE,
		ISSETTLEMENTED
	</sql>
	<select id="listInOderByToday" parameterType="pd" resultType="pd">
		select ALLAMOUNT,PNUMBER,GOODNAME , GOODPIC from psi_inorder as a , psi_inorder_body as b ,base_good as c 
		where TO_DAYS(a.CREATETIME) = TO_DAYS(NOW())
		and a.INORDER_ID=b.INORDER_ID
		and b.GOODCODE_ID=c.GOODCODE
		and a.PK_SOBOOKS=#{PK_SOBOOKS}
		and IFNULL(a.dr,0)=0 
	</select>
	
	<select id="listMountAndNum" parameterType="pd" resultType="pd">
		select  sum(ALLAMOUNT) as ALLAMOUNT , count(ALLAMOUNT) as  NUM from psi_inorder
		where
		date_format(psi_inorder.LASTTIME,'%Y-%m')=#{date}
		and PK_SOBOOKS=#{PK_SOBOOKS}
		and IFNULL(dr,0)=0 
	</select>
	
	<select id="listInOderGoods" parameterType="pd" resultType="pd">
		select b.GOODCODE_ID,sum(b.PNUMBER) as PNUMBER,c.GOODNAME
		from psi_inorder as a left join psi_inorder_body as b on  a.INORDER_ID=b.INORDER_ID
		left JOIN base_good as c on b.GOODCODE_ID=c.GOODCODE
		where 
		a.PK_SOBOOKS=1
		and IFNULL(a.dr,0)=0
		and  date_format(a.LASTTIME,'%Y-%m')=#{date} 
		GROUP BY c.GOODNAME
	</select>
	
	<select id="listMountAndNumByMD" parameterType="pd" resultType="pd">
		select  sum(ALLAMOUNT) as ALLAMOUNT , count(ALLAMOUNT) as  NUM from psi_inorder
		where
		date_format(psi_inorder.LASTTIME,'%Y-%m-%d')=#{date}
		and PK_SOBOOKS=1
		and IFNULL(dr,0)=0 
	
	</select>
	
	<select id="listInOderGoodsByMD" parameterType="pd" resultType="pd">	
		select b.GOODCODE_ID,sum(b.PNUMBER) as PNUMBER,c.GOODNAME
		from psi_inorder as a , psi_inorder_body as b , base_good as c
		where a.INORDER_ID = b.INORDER_ID
		and date_format(a.LASTTIME,'%Y-%m-%d')=#{date}
		and b.GOODCODE_ID=c.GOODCODE
		and a.PK_SOBOOKS=#{PK_SOBOOKS}
		and IFNULL(a.dr,0)=0 
		GROUP BY c.GOODNAME
	</select>
	
	<select id="listInOrder" parameterType="pd" resultType="pd">
		SELECT a.INORDER_ID,a.BILLCODE,b.NAME ,c.SUPPLIERNAME,a.NOTE,date_format(a.CREATETIME,'%Y-%m-%d') as CREATETIME,a.ALLAMOUNT
		from 
		psi_inorder as a left join sys_user as b on a.USER_ID=b.USER_ID
		left join base_supplier as c on a.SUPPLIER_ID=c.SUPPLIER_ID
		where a.BILLTYPE='1'
		and a.PK_SOBOOKS=#{PK_SOBOOKS}
		and IFNULL(a.dr,0)=0 
		<if test="startTime!=null and startTime!=''">
			<if test="endTime!=null and endTime!=''">
				 and date_format(a.CREATETIME,'%Y-%m-%d') BETWEEN #{startTime} and #{endTime}
			</if>
		</if>
		<if test="date!=null and date!='' ">
			and date_format(a.CREATETIME,'%Y-%m')=#{date}
		</if>
	</select>
	
	<select id="listInOrderBody" parameterType="pd" resultType="pd">
		select b.GOODCODE,b.GOODNAME, b.GOODSPECIF ,b.RPRICE, c.NAME as UNIT,a.PNUMBER,a.AMOUNT,d.WHNAME,a.NOTE
		from  psi_inorder_body as a left join base_good as b  on a.GOODCODE_ID=b.GOODCODE
		left join cp_spunit as c on c.SPUNIT_ID = b.CUNIT_ID
		left join base_warehouse as d on a.WAREHOUSE_ID=d.WAREHOUSE_ID
		where  a.PK_SOBOOKS=#{PK_SOBOOKS}
		and IFNULL(a.dr,0)=0 
		and a.INORDER_ID=#{INORDER_ID}
	</select>
</mapper>