<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="AppSalebillMapper">
	
	
	<!--表名 -->
	<sql id="tableName">
		psi_salebill
	</sql>
	
	<!-- 字段 -->
	<sql id="Field">
		SALEBILL_ID,
		PK_SOBOOKS,
		LDATE,
		BILLCODE,
		CUSTOMER_ID,
		USER_ID,
		WAREHOUSE_ID,
		ALLAMOUNT,
		BILLTYPE,
		BILLSTATUS,
		PAIDAMOUNT,
		UNPAIDAMOUNT,
		THISPAY,
		SUBBRANCH,
		PAYDATE,
		CUSBILLNO,
		TOADDRESS,
		NOTE,
		ISSETTLEMENTED
	</sql>
	
	<select id="listDataAndNumAndPrice" parameterType="pd" resultType="pd">
		select a.PNUMBER,a.AMOUNT,a.CREATETIME,d.NAME as UNIT
		from psi_salebillbody as a left join psi_salebill as b on a.SALEBILL_ID=b.SALEBILL_ID
		left join base_good as c  on c.GOODCODE=a.GOODCODE_ID
		left join cp_spunit as d on d.SPUNIT_ID=c.CUNIT_ID 
		where a.GOODCODE_ID=#{GOODCODE}
		 and a.PK_SOBOOKS=#{PK_SOBOOKS} 
		and IFNULL(a.dr,0)=0  
		ORDER BY a.CREATETIME desc limit 0,5;
		
	</select>
	
	<select id="listSaleInfoByToday" parameterType="pd" resultType="pd">
		select b.GOODNAME,a.PNUMBER,a.AMOUNT,(a.UNITPRICE_ID-b.LASTPPRICE) as maoLi,c.NAME
		from psi_salebillbody as  a left join base_good as b on a.GOODCODE_ID =b.GOODCODE
		left join cp_spunit as c on c.SPUNIT_ID=b.CUNIT_ID
		where  date_format(a.LASTTIME,'%Y-%m-%d')= date_format(now(),'%Y-%m-%d')
		and a.PK_SOBOOKS=#{PK_SOBOOKS}
		and IFNULL(a.dr,0)=0 
			
	</select>
	
	<select id="listSaledGoodsBySTT" parameterType="pd" resultType="pd">
		select c.GOODPIC ,c.GOODNAME,sum(a.ALLAMOUNT) as ALLAMOUNT , sum(b.PNUMBER)  as PNUMBER, count(*) as NUM, count(*)* sum(b.PNUMBER) as saleNum, (sum(a.ALLAMOUNT)-c.LASTPPRICE*sum(b.PNUMBER)) as maoLi
		from psi_salebill as a ,psi_salebillbody as b, base_good as c,base_goodtype as d
		where 
		a.SALEBILL_ID=b.SALEBILL_ID 
		and b.GOODCODE_ID=c.GOODCODE
		and c.GOODTYPE_ID=d.GOODTYPE_ID
		and a.PK_SOBOOKS=#{PK_SOBOOKS}
		and IFNULL(a.dr,0)=0 
		<if test="yearMouth != null and yearMouth != '' "> 
			and date_format(a.LASTTIME,'%Y-%m')=#{yearMouth}
		</if>
		<if test="startTime!=null and startTime!=''">
			<if test="endTime!=null and endTime!=''">
			 and date_format(a.LASTTIME,'%Y-%m-%d') BETWEEN #{startTime} and #{endTime}
			</if>
		</if>
		<if test="TYPENAME!=null and TYPENAME!='' ">
			and d.TYPENAME like concat('%',#{TYPENAME},'%')
		</if>
		GROUP BY GOODNAME
		<if test="sortType==1">
			ORDER BY ALLAMOUNT desc
		</if>
		<if test="sortType==2">
			ORDER BY saleNum  desc
		</if>
		<if test="sortType==3">
			ORDER BY NUM desc
		</if>
		<if test="sortType==4">
			ORDER BY maoLi desc
		</if>
			
	</select>
	
	<select id="listsalebill" parameterType="pd" resultType="pd">
		SELECT a.SALEBILL_ID, a.BILLCODE,b.NAME ,c.CUATOMERNAME,a.NOTE,date_format(a.CREATETIME,'%Y-%m-%d') as CREATETIME ,a.ALLAMOUNT
		from 
		psi_salebill as a left join sys_user as b on a.USER_ID=b.USER_ID
		left join base_customer as c on a.CUSTOMER_ID=c.CUSTOMER_ID
		where a.BILLTYPE='2'
		and a.PK_SOBOOKS=#{PK_SOBOOKS}
		and IFNULL(a.dr,0)=0 
		<if test="startTime!=null and startTime!=''">
			<if test="endTime!=null and endTime!=''">
				 and date_format(a.CREATETIME,'%Y-%m-%d') BETWEEN #{startTime} and #{endTime}
			</if>
		</if>
		<if test="date!=null and date!='' ">
			and date_format(a.CREATETIME,'%Y-%m')=#{date}
		</if>
	</select>
	
	<select id="listsalebillBody" parameterType="pd" resultType="pd">
		select b.GOODCODE,b.GOODNAME, b.GOODSPECIF ,b.RPRICE, c.NAME as UNIT,a.PNUMBER,a.AMOUNT,d.WHNAME,a.NOTE
		from  psi_salebillbody as a left join base_good as b  on a.GOODCODE_ID=b.GOODCODE 
		left join cp_spunit as c on c.SPUNIT_ID = b.CUNIT_ID
		left join base_warehouse as d on a.WAREHOUSE_ID=d.WAREHOUSE_ID
		where  a.PK_SOBOOKS=#{PK_SOBOOKS}
		and IFNULL(a.dr,0)=0 
		and a.SALEBILL_ID=#{SALEBILL_ID}
	</select>
</mapper>